.web_1a{
    background:white;
    border-radius:2px;
    font-size:14px;
    font-weight:bold;
    line-height:24px;
    padding:12px 32px;
    text-align:center;
    width:100%;
    border:1px solid black;
    color:black;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.web_1{
    margin:auto;
    margin-top:20%;
    width: 500px;
}

img{
    height:18px;
    display:inline-block;
    vertical-align:middle;
    box-sizing:border-box;
}