<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet/style.css" rel="stylesheet" type="text/css"/>
    <title>form_detail</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="register-form">
                <form action="" method="post">
                    <h1>Thông tin cá nhân</h1>
                    <div class="input-box">
                        <input type="text" placeholder="nhập email" disabled>
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="nhập họ tên" disabled>
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="nhập lớp học">
                    </div>

                    <div class="input-box">
                        <input type="text" placeholder="nhập khoa">
                    </div>

                    <div class="input-box">
                        <input type="file" name="fileToUpload" id="fileToUpload" disabled>
                        <input type="submit" value="Upload Image" name="submit" disabled>
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="nhập role" >
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>