<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheet/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Googe+</title>
</head>
<body>
    <!-- <div class="web_1">
        <a href="/google">
            <button class="web_1a" >
                <img src="images/google.png" />
                    Continue with Google
            </button>
        </a>
    </div> -->
        <h3> <i class="fab fa-google"> </i>Login with Google+ </h3>
        <div class="section">
            <h2 class="lead">
                Welcome to Student
            </h2>
        </div>
        <div class="divider"></div>
        <div class="section">
            <a href="/google" class="btn red darken-1">
                <i class="fab fa-google left"></i> Login with google
            </a>
        </div>
</body> 
</html>