<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="stylesheet/style.css" rel="stylesheet">
	
	</head>
	<body>
	
	<div class="container">
		<div class="container-1">
			<div >
				<span class="web-title-mod">
					Sign In
				</span>
			</div>

			<form class="validate-form">
				<div class="validate-input" data-validate="Username is required">
					<span >Username</span>
					<input  type="text" name="username" placeholder="Enter username">
					<span ></span>
				</div>

				<div class="validate-input" data-validate = "Password is required">
					<span >Password</span>
					<input  type="password" name="pass" placeholder="Enter password">
					<span ></span>
				</div>

				<div >
					<div >
						<input  type="checkbox" name="remember-me">
						<label for="ckb1">
							Remember me
						</label>
					</div>

					<div>
						<a href="#" >
							Forgot Password?
						</a>
					</div>
				</div>

				<div >
					<button >
						Login
					</button>
				</div>
			</form>
		</div>
	</div>
	
	<!--===============================================================================================-->
	

	</body>

</html>