<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>edit</title>
</head>
<body class="bg-secondary">
    <h3 class="text-center my-5 text-light">Welcome to Student</h3>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-5">
                <div class="border p-3 rounded bg-light">
                    <form method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div class="input-group mb-7">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Email" disabled>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstName">firstName</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="your firstName" disabled>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="lastName">lastName</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="your lastName" disabled>

                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label for="lastName">lastName</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <input type="file" name="fileToUpload" id="fileToUpload" disabled>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="Class">Class</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <input  type="text" name="class" id="class" class="form-control" placeholder="class" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="faculty">faculty</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <input  type="text" name="faculty" id="faculty" class="form-control" placeholder="faculty" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success px-5" type="submit">update</button>
                            <button class="btn btn-success px-5" type="submit">edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>